html {
	box-sizing: border-box;
	font-size: 62.5%;
	@media (max-width: 768px) {
		font-size: 50%;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--primary1: #fffc3a;
	--primary2: #51ff3a;
	--white: #ffffff;
	--black: #04040b;
	--secondary: #0a0a11;
}

body {
	background-color: var(--secondary);
	color: var((--primary1));
	font-family: "Press Start 2P", Cambria, Cochin, Georgia, Times,
		"Times New Roman", serif;
}

h1 {
	font-size: 4rem;
	text-align: center;
	margin-top: 4rem;
}

main {
	display: flex;
	width: 100%;
	padding: 0 2rem;
	margin-top: 6rem;

	h2 {
		font-size: 1.6rem;
	}
	section {
		text-align: center;
		margin: 0 2rem;
		margin-top: 2rem;
	}
	.monitor {
		margin-top: 0rem;
		width: 65%;
		canvas {
			background-color: #04040b;
			width: 100%;
			border: 2px solid var(--primary1);
		}
		.animate {
			animation: border-flicker 1s linear infinite;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column-reverse;
		section {
			width: 85vw !important;
			margin: auto;
		}
		.roms {
			.list {
				max-height: 10vh;
			}
			margin-bottom: 2rem;
		}
	}

	.controls {
		width: 20%;
		margin: 2rem auto;
		.keys {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			.key {
				font-size: 1.4rem;
				margin: 1rem auto;
			}
		}
	}

	.roms {
		width: 15%;
		text-align: left;
		::-webkit-scrollbar {
			width: 1em;
		}

		::-webkit-scrollbar-thumb {
			background-color: var(--primary1);
		}

		h2 {
			margin-bottom: 1rem;
			padding: 0rem 2rem;
		}
		.list {
			list-style: none;
			height: 50vh;
			overflow-y: scroll;
			.item {
				padding: 2rem;
				cursor: pointer;
				&:hover {
					background: var(--black);
				}
			}
			.selected {
				background: var(--black);
			}
		}
	}
}

@keyframes border-flicker {
	0% {
		border: 2px solid var(--primary1);
	}
	33% {
		border: 2px solid var(--primary2);
	}
	66% {
		border: 2px solid var(--white);
	}
}
